.link-color {
  color: #ffcd00 !important;
}

.lightgreen-color {
  color: #dff593 !important;
}

.green-highlight {
  background-color: #dff593 !important;
  color: #222222 !important;
  font-weight: bold !important;
}